{
    "openapi": "3.0.0",
    "info": {
        "title": "API Documentation",
        "version": "0.1"
    },
    "servers": [
        {
            "url": "https://mebelplace.kz",
            "description": "SuperMakers"
        }
    ],
    "paths": {
        "/api/register": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Register a new user",
                "description": "Register a new user with required information",
                "operationId": "registerUser",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "phone",
                                    "city_id",
                                    "role"
                                ],
                                "properties": {
                                    "phone": {
                                        "type": "string",
                                        "example": "+77473186847"
                                    },
                                    "username": {
                                        "type": "string",
                                        "example": "johndoe"
                                    },
                                    "city_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "firstname": {
                                        "type": "string",
                                        "example": "John"
                                    },
                                    "lastname": {
                                        "type": "string",
                                        "example": "Doe"
                                    },
                                    "iin": {
                                        "type": "string",
                                        "maxLength": 12,
                                        "example": "123456789014"
                                    },
                                    "is_visible": {
                                        "type": "integer",
                                        "enum": [
                                            1,
                                            0
                                        ],
                                        "example": 1
                                    },
                                    "photo": {
                                        "description": "Upload photo file",
                                        "type": "string",
                                        "format": "binary"
                                    },
                                    "role": {
                                        "type": "string",
                                        "enum": [
                                            "master",
                                            "user"
                                        ],
                                        "example": "user"
                                    },
                                    "company_type": {
                                        "type": "string",
                                        "enum": [
                                            "ИП",
                                            "ТОО"
                                        ],
                                        "example": "ИП"
                                    },
                                    "company_name": {
                                        "type": "string",
                                        "example": "My Company"
                                    },
                                    "description": {
                                        "type": "string",
                                        "example": "Professional service provider"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "User registered successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "User registered successfully"
                                        },
                                        "user": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "phone": {
                                                    "type": "string",
                                                    "example": "+1234567890"
                                                },
                                                "username": {
                                                    "type": "string",
                                                    "example": "johndoe"
                                                },
                                                "city_id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "firstname": {
                                                    "type": "string",
                                                    "example": "John"
                                                },
                                                "lastname": {
                                                    "type": "string",
                                                    "example": "Doe"
                                                },
                                                "iin": {
                                                    "type": "string",
                                                    "example": "123456789012"
                                                },
                                                "is_visible": {
                                                    "type": "integer",
                                                    "enum": [
                                                        1,
                                                        0
                                                    ],
                                                    "example": 1
                                                },
                                                "photo_url": {
                                                    "type": "string",
                                                    "example": "/storage/photos/abc123.jpg"
                                                },
                                                "role": {
                                                    "type": "string",
                                                    "example": "user"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Validation error"
                    }
                }
            }
        },
        "/api/verify-account": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Верификация аккаунта по телефону и коду",
                "description": "Проверяет код верификации и отмечает аккаунт как верифицированный, если код корректен.",
                "operationId": "verifyAccount",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "phone",
                                    "verification_code"
                                ],
                                "properties": {
                                    "phone": {
                                        "description": "Номер телефона пользователя",
                                        "type": "string",
                                        "example": "+1234567890"
                                    },
                                    "verification_code": {
                                        "description": "Код верификации, отправленный на телефон",
                                        "type": "integer",
                                        "example": 123456
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Аккаунт успешно верифицирован",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Account verified successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Ошибка валидации или неверный код",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Invalid verification code or phone number"
                                        },
                                        "errors": {
                                            "type": "object",
                                            "nullable": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Внутренняя ошибка сервера",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Server error"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/verify-code": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Отправка кода для сброса пароля",
                "description": "Отправляет код на указанный номер телефона, если номер зарегистрирован в системе.",
                "operationId": "604bf913373b6375caedd22883a79366",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "phone"
                                ],
                                "properties": {
                                    "phone": {
                                        "description": "Номер телефона пользователя в формате 7XXXXXXXXXX",
                                        "type": "string",
                                        "example": "77473186847"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Код для сброса пароля успешно отправлен",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Код для сброса пароля отправлен на ваш номер телефона."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Ошибка валидации или отсутствует зарегистрированный номер",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "Invalid phone number or user not found."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Ошибка сервера",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Не удалось отправить код для сброса пароля."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/login": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "User login",
                "description": "Authenticate user and provide a token",
                "operationId": "loginUser",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "phone"
                                ],
                                "properties": {
                                    "phone": {
                                        "type": "string",
                                        "format": "",
                                        "example": "+1234567890"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Login successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "token": {
                                            "type": "string",
                                            "example": "abc123token"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errors": {
                                            "type": "object",
                                            "example": []
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/logout": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "User logout",
                "description": "Logs out the authenticated user and deletes their current access token",
                "operationId": "logoutUser",
                "responses": {
                    "200": {
                        "description": "Logout successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Logged out successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthenticated."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/cities": {
            "get": {
                "tags": [
                    "Cities"
                ],
                "summary": "Get list of cities",
                "description": "Returns a list of all cities.",
                "operationId": "185d0aefb5fd6e9d4e5f1263e2734df4",
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Cities"
                ],
                "summary": "Create a new city",
                "description": "Adds a new city to the database",
                "operationId": "2c088ea7c660d40e5d092a82ee72e2eb",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name",
                                    "country_id"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Almaty"
                                    },
                                    "country_id": {
                                        "type": "integer",
                                        "example": 1
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "City created"
                    },
                    "400": {
                        "description": "Bad request"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/cities/{id}": {
            "get": {
                "tags": [
                    "Cities"
                ],
                "summary": "Get a city by ID",
                "description": "Returns a single city",
                "operationId": "87b6e2f2af6fbfa74374d2f9e3512d76",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of city to retrieve",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "City found"
                    },
                    "404": {
                        "description": "City not found"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Cities"
                ],
                "summary": "Update an existing city",
                "description": "Updates city details by ID",
                "operationId": "f7f6f540808f4308195e750cfb3849f8",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of city to update",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Astana"
                                    },
                                    "country_id": {
                                        "type": "integer",
                                        "example": 1
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "City updated"
                    },
                    "404": {
                        "description": "City not found"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Cities"
                ],
                "summary": "Delete a city",
                "description": "Deletes a city by ID",
                "operationId": "0dc95dd0bc4da8cabcb3ebd5b105a59b",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of city to delete",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "City deleted"
                    },
                    "404": {
                        "description": "City not found"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/company_types": {
            "get": {
                "tags": [
                    "Company Types"
                ],
                "summary": "Get list of company types",
                "description": "Returns a list of all company types.",
                "operationId": "b6e2effe47dd113641dcd8e6b47a5369",
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Company Types"
                ],
                "summary": "Create a new company type",
                "description": "Adds a new company type to the database",
                "operationId": "ca221c56b20e630be02458badac80e8e",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "LLC"
                                    },
                                    "description": {
                                        "type": "string",
                                        "example": "Limited Liability Company"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Company type created"
                    },
                    "400": {
                        "description": "Bad request"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/company_types/{id}": {
            "get": {
                "tags": [
                    "Company Types"
                ],
                "summary": "Get a company type by ID",
                "description": "Returns a single company type",
                "operationId": "c0932c075d84dfe6ab4e9c9099a38f63",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of company type to retrieve",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Company type found"
                    },
                    "404": {
                        "description": "Company type not found"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Company Types"
                ],
                "summary": "Update an existing company type",
                "description": "Updates company type details by ID",
                "operationId": "952738e3502bc7d27128575541d9ece3",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of company type to update",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Corp"
                                    },
                                    "description": {
                                        "type": "string",
                                        "example": "Corporation"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Company type updated"
                    },
                    "404": {
                        "description": "Company type not found"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Company Types"
                ],
                "summary": "Delete a company type",
                "description": "Deletes a company type by ID",
                "operationId": "47d2283328615b238319b8df6a8ed91b",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of company type to delete",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Company type deleted"
                    },
                    "404": {
                        "description": "Company type not found"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/countries": {
            "get": {
                "tags": [
                    "Countries"
                ],
                "summary": "Get list of countries",
                "description": "Returns a list of all countries.",
                "operationId": "bbb90b9e86a9cab92aaa448fe98954c9",
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Countries"
                ],
                "summary": "Create a new country",
                "description": "Adds a new country to the database",
                "operationId": "575eed1b82f384d950b5b4541e3f2c50",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name",
                                    "code"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Kazakhstan"
                                    },
                                    "code": {
                                        "type": "string",
                                        "example": "KZ"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Country created"
                    },
                    "400": {
                        "description": "Bad request"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/countries/{id}": {
            "get": {
                "tags": [
                    "Countries"
                ],
                "summary": "Get a country by ID",
                "description": "Returns a single country",
                "operationId": "c172dfb1b3785a376f52b0f46f344f20",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of country to retrieve",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Country found"
                    },
                    "404": {
                        "description": "Country not found"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Countries"
                ],
                "summary": "Update an existing country",
                "description": "Updates country details by ID",
                "operationId": "0c6426c4d0dfc8c5a372bad4825a38bc",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of country to update",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Kazakhstan"
                                    },
                                    "code": {
                                        "type": "string",
                                        "example": "KZ"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Country updated"
                    },
                    "404": {
                        "description": "Country not found"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Countries"
                ],
                "summary": "Delete a country",
                "description": "Deletes a country by ID",
                "operationId": "47110a2e95266d7e013ca957c8e9dbb3",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of country to delete",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Country deleted"
                    },
                    "404": {
                        "description": "Country not found"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/default_answers/GetDefaultAnswersByVideoID": {
            "post": {
                "tags": [
                    "DefaultAnswers"
                ],
                "summary": "Get default answers by video ID",
                "operationId": "getDefaultAnswersByVideoID",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "video_id": {
                                        "description": "ID of the video",
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "user_id": {
                                        "description": "ID of the user (optional)",
                                        "type": "integer"
                                    },
                                    "survey_id": {
                                        "description": "ID of the survey",
                                        "type": "integer",
                                        "example": 1
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Survey with default answers fetched successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "questions": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer"
                                                    },
                                                    "question_text": {
                                                        "type": "string"
                                                    },
                                                    "options": {
                                                        "type": "array",
                                                        "items": {
                                                            "properties": {
                                                                "id": {
                                                                    "type": "integer"
                                                                },
                                                                "option_text": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    },
                                                    "custom_value": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Survey or video not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Survey not found"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/default_answers": {
            "get": {
                "tags": [
                    "DefaultAnswers"
                ],
                "summary": "Get a list of default answers",
                "description": "Returns a list of all default answers.",
                "operationId": "9c607486e7affb5accce1c1939b8f4ca",
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "DefaultAnswers"
                ],
                "summary": "Store answers with images",
                "operationId": "41143ce888f2fc2121adbd61930921cb",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "survey_id",
                                    "answers"
                                ],
                                "properties": {
                                    "survey_id": {
                                        "type": "integer",
                                        "example": "1"
                                    },
                                    "video_id": {
                                        "type": "integer",
                                        "example": "38"
                                    },
                                    "answers": {
                                        "type": "array",
                                        "items": {
                                            "required": [
                                                "question_id"
                                            ],
                                            "properties": {
                                                "question_id": {
                                                    "type": "integer"
                                                },
                                                "option_ids": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "integer"
                                                    }
                                                },
                                                "custom_value": {
                                                    "type": "string"
                                                },
                                                "image_urls": {
                                                    "description": "List of image files",
                                                    "type": "array",
                                                    "items": {
                                                        "description": "Image file",
                                                        "type": "string",
                                                        "format": "binary",
                                                        "example": "image files"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Answers successfully saved",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Answers saved successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/default_answers/AddDefaultAnswersWithImages": {
            "post": {
                "tags": [
                    "DefaultAnswers"
                ],
                "summary": "Store answers with images",
                "operationId": "storeAnswersWithImages",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "survey_id",
                                    "answers"
                                ],
                                "properties": {
                                    "survey_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "video_id": {
                                        "type": "integer",
                                        "example": 107
                                    },
                                    "answers": {
                                        "description": "Array of answers",
                                        "type": "array",
                                        "items": {
                                            "required": [
                                                "question_id"
                                            ],
                                            "properties": {
                                                "question_id": {
                                                    "type": "integer",
                                                    "example": 2
                                                },
                                                "option_ids": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "integer"
                                                    },
                                                    "example": [
                                                        2
                                                    ]
                                                },
                                                "custom_value": {
                                                    "type": "string",
                                                    "example": "string"
                                                },
                                                "image_urls": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    },
                                                    "example": [
                                                        "storage/user_answers/images/xfrNqETCemFCWUjMiLSkfamrQmBqVuRyMKfeRsG9.png"
                                                    ]
                                                }
                                            },
                                            "type": "object"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Answers successfully saved",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Answers saved successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/default_answers/{id}": {
            "get": {
                "tags": [
                    "DefaultAnswers"
                ],
                "summary": "Get a default answer by ID",
                "description": "Returns a single default answer",
                "operationId": "4444bd0ae609d3c6d2396a288bd5c16e",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the default answer",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "404": {
                        "description": "Default answer not found"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "DefaultAnswers"
                ],
                "summary": "Update default answers",
                "description": "Updates existing default answers for a given survey and video",
                "operationId": "7afd7958bef24432f711312d6f592863",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the DefaultSurvey to be updated",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "survey_id",
                                    "answers"
                                ],
                                "properties": {
                                    "survey_id": {
                                        "description": "ID of the related survey",
                                        "type": "integer",
                                        "example": "1"
                                    },
                                    "video_id": {
                                        "description": "ID of the related video",
                                        "type": "integer",
                                        "nullable": true
                                    },
                                    "answers": {
                                        "description": "Array of answers to be updated",
                                        "type": "array",
                                        "items": {
                                            "required": [
                                                "question_id"
                                            ],
                                            "properties": {
                                                "question_id": {
                                                    "description": "ID of the related question",
                                                    "type": "integer"
                                                },
                                                "option_ids": {
                                                    "description": "Array of selected option IDs",
                                                    "type": "array",
                                                    "items": {
                                                        "type": "integer"
                                                    },
                                                    "nullable": true
                                                },
                                                "custom_value": {
                                                    "description": "Custom answer value (if any)",
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "image_urls": {
                                                    "description": "Array of image files (optional)",
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "format": "binary"
                                                    },
                                                    "nullable": true
                                                }
                                            },
                                            "type": "object"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Default answers updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Survey and answers updated successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "DefaultSurvey not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "DefaultSurvey not found"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request due to validation errors or incorrect data",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errors": {
                                            "type": "object",
                                            "example": {
                                                "survey_id": [
                                                    "The survey_id field is required."
                                                ]
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "DefaultAnswers"
                ],
                "summary": "Delete a default answer",
                "description": "Deletes a default answer by ID",
                "operationId": "227bcf1371dd33ff41c375dc7b322d30",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the default answer to delete",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Default answer deleted successfully"
                    },
                    "404": {
                        "description": "Default answer not found"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/favorites": {
            "get": {
                "tags": [
                    "Favorites"
                ],
                "summary": "Get a list of favorites",
                "description": "Returns a list of all favorite items for the authenticated user.",
                "operationId": "bc433e786ab5a0bec81c53c578e0b6aa",
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Favorites"
                ],
                "summary": "Add a favorite item",
                "description": "Adds a new item to the user's favorites list",
                "operationId": "d426a8b38354581cb4082ac4bc62e22f",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "video_id"
                                ],
                                "properties": {
                                    "video_id": {
                                        "description": "ID of the item to favorite",
                                        "type": "integer"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Favorite item created"
                    },
                    "400": {
                        "description": "Bad request"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/favorites/{id}": {
            "delete": {
                "tags": [
                    "Favorites"
                ],
                "summary": "Remove a favorite item",
                "description": "Removes an item from the user's favorites list",
                "operationId": "397d5ad2363742284a8d87c5dc366148",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the favorite item to remove",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Favorite item deleted"
                    },
                    "404": {
                        "description": "Favorite item not found"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/files": {
            "get": {
                "tags": [
                    "Files"
                ],
                "summary": "Get a list of files",
                "description": "Returns a list of all file items for the authenticated user.",
                "operationId": "75e11bf0f02914a731190e29ffdfa4da",
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Files"
                ],
                "summary": "Add a file item",
                "description": "Adds a new item to the user's files list",
                "operationId": "504365db63af2bed79d990a37f967c90",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "name",
                                    "file"
                                ],
                                "properties": {
                                    "name": {
                                        "description": "Name of the file",
                                        "type": "string"
                                    },
                                    "file": {
                                        "description": "File to upload",
                                        "type": "string",
                                        "format": "binary"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "File item created"
                    },
                    "400": {
                        "description": "Bad request"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/files/{id}": {
            "get": {
                "tags": [
                    "Files"
                ],
                "summary": "Get a file item",
                "description": "Retrieve details of a file item by its ID",
                "operationId": "ef2a0ed6c4ec586c21d478ebd795ef39",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the file to retrieve",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "File item retrieved",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "description": "File ID",
                                            "type": "integer"
                                        },
                                        "name": {
                                            "description": "File name",
                                            "type": "string"
                                        },
                                        "path": {
                                            "description": "Path to the file",
                                            "type": "string"
                                        },
                                        "created_at": {
                                            "description": "Creation timestamp",
                                            "type": "string",
                                            "format": "date-time"
                                        },
                                        "updated_at": {
                                            "description": "Last update timestamp",
                                            "type": "string",
                                            "format": "date-time"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "File not found"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Files"
                ],
                "summary": "Update a file item with _method=PUT",
                "description": "Updates the details of a file item by its ID using POST method with _method=PUT",
                "operationId": "702e8ab4ba984019d1246b0c2bf5ee29",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the file to update",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "_method",
                                    "name",
                                    "file"
                                ],
                                "properties": {
                                    "_method": {
                                        "description": "HTTP method override (PUT)",
                                        "type": "string",
                                        "example": "PUT"
                                    },
                                    "name": {
                                        "description": "Updated name of the file",
                                        "type": "string"
                                    },
                                    "file": {
                                        "description": "Updated file",
                                        "type": "string",
                                        "format": "binary"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "File item updated"
                    },
                    "404": {
                        "description": "File not found"
                    },
                    "400": {
                        "description": "Bad request"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Files"
                ],
                "summary": "Delete a file item",
                "description": "Deletes a file item by its ID",
                "operationId": "486fb3f545cf239f9d2230b5bde6f3f4",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the file to delete",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "File item deleted"
                    },
                    "404": {
                        "description": "File not found"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/likes": {
            "get": {
                "tags": [
                    "Likes"
                ],
                "summary": "Get a list of likes",
                "description": "Returns a list of all like items for the authenticated user.",
                "operationId": "8126380dee54ff840c069abb47c2c5f6",
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Likes"
                ],
                "summary": "Add a like item",
                "description": "Adds a new item to the user's likes list",
                "operationId": "4f47d4a17ebf2fe7bf4976dac452330d",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "video_id"
                                ],
                                "properties": {
                                    "video_id": {
                                        "description": "ID of the video to like",
                                        "type": "integer"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "like item created"
                    },
                    "400": {
                        "description": "Bad request"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/likes/{id}": {
            "delete": {
                "tags": [
                    "Likes"
                ],
                "summary": "Remove a like item",
                "description": "Removes an item from the user's likes list",
                "operationId": "2d5986df0b81b2bbb2a23b691734f306",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the like item to remove",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "like item deleted"
                    },
                    "404": {
                        "description": "like item not found"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/options": {
            "get": {
                "tags": [
                    "Options"
                ],
                "summary": "Options",
                "description": "Options",
                "operationId": "fcd84b44c04ba391a890ffbb0f38b718",
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Options"
                ],
                "summary": "Create a new option",
                "description": "Adds a new option to the database",
                "operationId": "48f1e966c69b50ccd2e617d3f180cab6",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "question_id",
                                    "option_text"
                                ],
                                "properties": {
                                    "question_id": {
                                        "description": "ID вопроса, к которому относится этот вариант",
                                        "type": "integer",
                                        "example": "1"
                                    },
                                    "option_text": {
                                        "description": "Текст варианта ответа",
                                        "type": "string",
                                        "example": "Sample Option Text"
                                    },
                                    "comment": {
                                        "description": "Коммент",
                                        "type": "string",
                                        "example": "Sample Option Text"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Option created"
                    },
                    "400": {
                        "description": "Bad request"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/options/{id}": {
            "get": {
                "tags": [
                    "Options"
                ],
                "summary": "Get an option by ID",
                "description": "Returns a single option",
                "operationId": "2b950496ea6ffdf28c7b0e0d8bbe2506",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the option",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "404": {
                        "description": "Option not found"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Options"
                ],
                "summary": "Update an option",
                "description": "Updates an existing option",
                "operationId": "931c0781f6da28125256a53e15402d68",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the option to update",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "question_id": {
                                        "description": "ID of the question the option belongs to",
                                        "type": "integer"
                                    },
                                    "option_text": {
                                        "description": "Text of the option",
                                        "type": "string"
                                    },
                                    "comment": {
                                        "description": "",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Option updated successfully"
                    },
                    "404": {
                        "description": "Option not found"
                    },
                    "400": {
                        "description": "Bad request"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Options"
                ],
                "summary": "Delete an option",
                "description": "Deletes an option by ID",
                "operationId": "5fe5fd392ef4cc7e1319af0cbe6d09ff",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the option to delete",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Option deleted successfully"
                    },
                    "404": {
                        "description": "Option not found"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/orders/quick_order/response/{order_id}": {
            "post": {
                "tags": [
                    "Quick Orders"
                ],
                "summary": "Respond to a quick order",
                "description": "Updates the selected order status to 14 and others with the same quick_order_id to 13.",
                "operationId": "7ee445d5b3d3a56a11566503da0893bd",
                "parameters": [
                    {
                        "name": "order_id",
                        "in": "path",
                        "description": "ID of the selected order",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Response submitted, order updated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Response submitted, order updated."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/orders/quick_order/{user_survey_id}": {
            "post": {
                "tags": [
                    "Quick Orders"
                ],
                "summary": "Create a quick order",
                "description": "Creates a quick order and assigns it to masters.",
                "operationId": "a648344ee9a6c639f1d3dbe38e4225d1",
                "parameters": [
                    {
                        "name": "user_survey_id",
                        "in": "path",
                        "description": "Optional survey ID",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Quick order created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Quick order created and sent to masters."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/orders/GetOrderByMasterID/{id}": {
            "get": {
                "tags": [
                    "Orders"
                ],
                "summary": "Get an order by master ID",
                "description": "Returns a single order",
                "operationId": "6e645358216607e78457f0700a654589",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the order to retrieve",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Order found"
                    },
                    "404": {
                        "description": "Order not found"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/orders/GetOrderByUserID/{id}": {
            "get": {
                "tags": [
                    "Orders"
                ],
                "summary": "Get an order by master ID",
                "description": "Returns a single order",
                "operationId": "d323c85f8079079e862483f9a63ec77b",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the order to retrieve",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Order found"
                    },
                    "404": {
                        "description": "Order not found"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/orders": {
            "get": {
                "tags": [
                    "Orders"
                ],
                "summary": "Get a list of orders",
                "description": "Returns a list of all orders, with optional filtering by status_id.",
                "operationId": "955bb77a45ae173a485fadb8befed93f",
                "parameters": [
                    {
                        "name": "status_id",
                        "in": "query",
                        "description": "Filter orders by one or multiple status_id (comma-separated values, e.g., 1,2,3)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "1,2,3"
                        }
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Invalid status_id provided"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Orders"
                ],
                "summary": "Create a new order",
                "description": "Adds a new order to the database",
                "operationId": "2123ba58dadb22bd6f2c8081af562230",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "user_id",
                                    "user_survey_id",
                                    "master_id",
                                    "video_id",
                                    "master_price",
                                    "master_time",
                                    "status_id"
                                ],
                                "properties": {
                                    "user_survey_id": {
                                        "description": "ID of the user survey",
                                        "type": "integer"
                                    },
                                    "user_id": {
                                        "description": "ID of the user (customer)",
                                        "type": "integer"
                                    },
                                    "master_id": {
                                        "description": "ID of the master (user)",
                                        "type": "integer"
                                    },
                                    "video_id": {
                                        "description": "ID of the video",
                                        "type": "integer"
                                    },
                                    "master_price": {
                                        "description": "Price charged by the master",
                                        "type": "string"
                                    },
                                    "master_time": {
                                        "description": "Time related to the order (in minutes)",
                                        "type": "string"
                                    },
                                    "status_id": {
                                        "description": "ID of the order status",
                                        "type": "integer"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Order created"
                    },
                    "400": {
                        "description": "Bad request"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/orders/{id}": {
            "get": {
                "tags": [
                    "Orders"
                ],
                "summary": "Get an order by ID",
                "description": "Returns a single order",
                "operationId": "88d27387b1e409e075c18609d4a0c300",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the order to retrieve",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Order found"
                    },
                    "404": {
                        "description": "Order not found"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Orders"
                ],
                "summary": "Update an existing order",
                "description": "Updates order details by ID",
                "operationId": "38a1b85e8294795a1b0dc438a36e319f",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the order to update",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "status": {
                                        "description": "Updated status ID (1 or 0)",
                                        "type": "integer"
                                    },
                                    "master_price": {
                                        "description": "Updated master price",
                                        "type": "number",
                                        "format": "float"
                                    },
                                    "master_time": {
                                        "description": "Updated master time",
                                        "type": "integer"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
[...]
